Pipfile
create_data.py
migrations/*
instance/*
static/images/*
app/services/auth_services.py
.pytest_cache
.Pipfile
.coverage
pytest.ini
report.html
result.bash
.gitsecret/keys/random_seed
!*.secret
tests
.env
.gitsecret